# User Guide: Processing data using OptionVolume

In [1]:
import pandas as pd
from OptionVolume_20190215 import OptionVolume # import OptionVolume in file OptionVolume_20190215.py
file_location = '../data/template_20190215.xlsx'
workbook = pd.ExcelFile(file_location)

In [2]:
obj = OptionVolume(workbook,'AAPL')
df1 = obj.get_volume(expdates=['02/15/19','02/22/19']) # return daily volume that aggregated on all call/put strikes for 2 expiration dates
df2 = obj.get_volume(expdates=['02/15/19','02/22/19'],call_put='Call') # return call option daily volume that aggregated on all strikes for 2 expiration dates
df3 = obj.get_volume(expdates='02/22/19',call_put='P') # return put option daily volume that aggregated on all strikes for 02/22/19
df4 = obj.get_volume(call_put = 'Put') # return put option daily volume that aggregated on all strikes for all existed expiration dates

In [3]:
obj.expdates_existed # all expiration dates existed in data

['02/15/19',
 '06/21/19',
 '03/29/19',
 '06/19/20',
 '03/15/19',
 '06/18/21',
 '04/18/19',
 '02/22/19',
 '07/19/19',
 '01/15/21',
 '03/08/19',
 '03/01/19',
 '01/17/20',
 '03/22/19']

In [4]:
df1.iloc[-5:]

            AAPL_02/15/19  AAPL_02/22/19
Dates
2019-02-11       197570.0        23460.0
2019-02-12       130102.0        32205.0
2019-02-13       191659.0        41509.0
2019-02-14       177168.0        53513.0
2019-02-15       190436.0        83582.0

In [5]:
df2.iloc[-5:]

            AAPL_02/15/19_Call  AAPL_02/22/19_Call
Dates
2019-02-11             84601.0             16236.0
2019-02-12             84327.0             23076.0
2019-02-13             89176.0             27858.0
2019-02-14            108604.0             34046.0
2019-02-15            109342.0             51014.0

In [6]:
df3.iloc[-5:]

            AAPL_02/22/19_P
Dates
2019-02-11           7224.0
2019-02-12           9129.0
2019-02-13          13651.0
2019-02-14          19467.0
2019-02-15          32568.0

In [7]:
df4.iloc[-5:]

,AAPL_02/15/19_Put,AAPL_06/21/19_Put,AAPL_03/29/19_Put,AAPL_06/19/20_Put,AAPL_03/15/19_Put,AAPL_06/18/21_Put,AAPL_04/18/19_Put,AAPL_02/22/19_Put,AAPL_07/19/19_Put,AAPL_01/15/21_Put,AAPL_03/08/19_Put,AAPL_03/01/19_Put,AAPL_01/17/20_Put,AAPL_03/22/19_Put
Dates,,,,,,,,,,,,,,
2019-02-11,112969.0,3084.0,532.0,226.0,30366.0,1672.0,22116.0,7224.0,797.0,1056.0,2718.0,2291.0,3107.0,1009.0
2019-02-12,45775.0,8310.0,748.0,1135.0,21192.0,91.0,4158.0,9129.0,2036.0,267.0,775.0,2305.0,1888.0,413.0
2019-02-13,102483.0,7404.0,324.0,913.0,22212.0,300.0,20441.0,13651.0,1203.0,2810.0,995.0,2268.0,4359.0,570.0
2019-02-14,68564.0,6602.0,600.0,155.0,11901.0,36.0,3847.0,19467.0,4707.0,556.0,970.0,2794.0,5895.0,962.0
2019-02-15,81094.0,2658.0,780.0,185.0,15935.0,461.0,8485.0,32568.0,621.0,198.0,1231.0,6703.0,4032.0,1371.0

In [8]:
df5 = obj.get_volume(expdates='02/25/19') # raise Error if expdates not exist

ValueError: No  data expired at 02/25/19 was found, formatting option volume failed